body {
    display: flex;
    flex-direction: column;
    font-family: Inconsolata, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.header {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
}


.nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin: 0 10px;
}

.nav li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    /*border-radius: 5px;*/
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.navtext {
    font-family: Rubik, sans-serif;
    color: #8a95f8;
    font-size: 16px;
    line-height: 200%;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #000;
    background-color: #fff;
}

/* Start of home section */

.section-home {
    background-color: #1f1e1b;
    padding: 30px 5vw;
    height: 75vh;
}
body>section {
    position: relative;
    width: 100vw;
    height: 100vh;

}

.section -div:nth-child(1) {
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-color: red;


}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.section-image {
    width: 45%;
    box-shadow: #ffc700 20px 20px;
}

.section-image img {
    max-width: 100%;
    display: block;
    /*align-items: center;*/

}

.section-text {
    width: 70vw;
    color: #fff;
}

.section-text h1 {
    font-size: 5vw;
    margin: 0 0 50px 0;
    color: #ffc700;
}

.section-text h2 {
    font-size: 4vw;
    margin: 0 0 40px 0;
    color: transparent;
    -webkit-text-stroke: 0.2vw yellow;
}
.white-box-button {
    width: 12vw;
    height: 3vw;
    background-color: white;
    color: black;
    font-size: 2vw;
    padding-top: 1vw;
    padding-left: 2vw;
    box-shadow: yellow 0.5vw 0.5vw;
    cursor: pointer;
}

.section-icons {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.section-icons i {
    bottom: 0;
    left: 40px;
    font-size: 2.4vw;
    margin: 2vw 1vw;
    color: ghostwhite;
}


/* Start Of About Section */


.section-about {
    background-color: #fff;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3vw;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px 0;
}

.about-content p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4vw;
}

.about-image {
    text-align: center;
    margin-top: 20px;
    width: 400px;
}

.about-image img {
    max-width: 100%;
}

section-services {
    background-color: #fff;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 10 auto;
}

/*services*/

.section-skills {
    background-color:#e6ccff;
    padding: 40px 0;
    position: relative;
}
.section-skills > .container {
    background-color: transparent;
}

.skills-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.skills-title h2 {
    margin: 0;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-box {
    background-color: #fff;
    margin-bottom: 20px;
    width: calc(33.33% - 50px);
    height: 70vh;
    box-shadow: black 0.5vw 0.5vw;
}

.skills-box:last-child {
    margin-right: 0;
}

.skills-image {
    text-align: center;
    padding: 40px 10px 10px;
}

.skills-image img {
    max-width: 40%;
    box-shadow: #ffff33 0.5vw 0.5vw;
}


.skills-text {
    padding: 20px;
    text-align: center;
    font-size: 15px;
}

.skills-text h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
/*Skills*/
.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #f7d04d;
    padding: 10px 20px;
    height: 10px;
    box-shadow: black 0.5vw 0.5vw;
    color: #000;
    border: #000 2px solid;
}

.image-container {



}

.image-container img {
    width: 100%;
    height: auto;
}
/**/
    /* Resume Section */
    .resume {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }


.section-title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #f7d04d;
        padding: 10px 20px;
        height: 10px;
        box-shadow: black 0.5vw 0.5vw;
        color: #000;
        border: #000 2px solid;
    }

    .image-container {
        width: 50%;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .resume-right-container {
        padding-left: 10px;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .resume-box-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
    }

    .resume-box-row {
        display: flex;
        padding: 50px;
        justify-content: space-between;
    }

    .resume-box {
        width: 250px;
        height: 150px;
        background-color: red;
        position: relative;
        box-shadow: black 0.5vw 0.5vw;
        display: flex;
        flex-direction: column;
    }

    .resume-secondary-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -25%;
        left: 5%;
        width: 30%;
        height: 50%;
        background-color: white;
        border: #000 2px solid;
    }
    .resume-thired-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 5%;
    width: 30%;
    height: 50%;
    background-color: white;
    border: #000 2px solid;
}


    .education .resume-box {
        background-color:#dfff80;
    }

    .experience .resume-box {
        background-color: #dfff80;
    }

    .resume-secondary-box-img {
        max-width: 100%;
        max-height: 100%;
    }

    .resume-text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .resume-box-h6 {
        margin-top: 5px;
    }


    /* Projects Section */
.section-Projects {
    background-color: black;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.Projects-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3vw;

}








/* Contact Section */
    .contact {
        width: 100vw;
        background-color: #eeedde;
        align-items: center;
        /* padding: 70px 0;*/
        position: relative;
        /* top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         margin: auto;*/
    }

    .contact{
        background-image: url("../img/y&b.jpg");
    }

    .contact-image {
        width: 80%;
        height: auto;
        padding: 70px 0;
    }

    .contact-form {
        background-color: solid yellow;
        display: flex;
        border: #000 2px solid;
        width: 100%;
        flex-direction: row;
        align-items: center;
        /*position: relative;*/

    }


    /*form#sample {*/
    /*    width: 100%;*/
    /*    padding: 20px;*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    bottom: 0;*/
    /*    left: 0;*/
    /*    right: 0;*/
    /*    margin: auto;*/
    /*}*/
form {
    width: 50%;
    padding: 20px;
}
    .form-field {
        display: flex;
        flex-direction: column;

    }

    label {
        margin-bottom: 5px;

    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 5px;
        margin-bottom: 10px;
        background: grey;
    }

    input[type="submit"] {
        background-color: #f7d04d;
        color: black;
        border: #000 2px solid;
        padding: 10px;
        cursor: pointer;
        width: 30%;
        box-shadow: black 0.5vw 0.5vw;
        margin: 10px 40% 0;
    }

    .contact-container {
        background-color: transparent;
        padding-top: 126px;
    }


    /* Footer styles */
    footer {
        background-color: #000000;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-size: 14px;
        z-index: 1;
    }

    .footer-left img {
        height: 40px;
        margin-right: 20px;
    }

    .footer-middle a {
        color: #ffffff;
        text-decoration: none;
        margin-right: 20px;
    }

    .footer-right {
        display: flex;
        align-items: center;
    }

    .social-icons {
        display: flex;
        margin-right: 20px;
    }

    .social-icons a {
        color: #ffffff;
        margin-right: 10px;
    }

    .social-icons a:last-child {
        margin-right: 0;
    }







